.bars-container {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	padding: 0 5px 10px 5px;
	transition: margin 0.3s ease;
	white-space: nowrap;
	overflow: hidden;
}

.bar {
	background-color: green;
	display: inline-block;
	transition: all 0.3s linear;
	margin: 0 1px;
	padding: 0;
}

.complete .bar {
	margin: 0 0px;
	padding: 0 1px;
	box-sizing: content-box;
}
