header {
  padding: 0;
}

.options-container {
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#414345), to(#232526));
  background: linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  color: var(--unfocused);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans Condensed", sans-serif;
  position: relative;
  z-index: 5;
}

.gen-btn-container {
  padding: 0 !important;
}

.gen-btn {
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 1;
  font-size: 1.25rem;
  border-radius: 50%;
  border: 2px solid var(--unfocused);
  color: var(--unfocused);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #262626;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-box-shadow: inset 0 0 30px black;
          box-shadow: inset 0 0 30px black;
  overflow: hidden;
}

.gen-btn .icon {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: var(--unfocused);
}

.gen-btn:hover {
  color: var(--focused);
  cursor: pointer;
  border-color: var(--focused);
}

.gen-btn:hover .icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--focused);
}

.gen-btn:focus {
  outline: none;
}

.gen-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 70%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.gen-btn:hover:before {
  left: 90px;
}

.gen-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 25px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.gen-btn:hover:after {
  left: 90px;
}

.gen-btn:disabled {
  border-color: var(--disabled);
  color: var(--disabled);
  pointer-events: none;
}

.gen-btn:disabled .icon {
  color: var(--disabled);
}

.slider-group {
  text-transform: uppercase;
}

.slider-group:hover {
  color: var(--focused);
}

.slider-group:hover .slider::-webkit-slider-thumb {
  background: var(--focused);
}

.slider-group:hover .slider::-moz-slider-thumb {
  background: var(--focused);
}

.slider-group:hover .slider::-ms-slider-thumb {
  background: var(--focused);
}

.slider-group:hover .slider::-webkit-slider-runnable-track {
  background: var(--focused);
}

.slider-group:hover .slider::-moz-slider-runnable-track {
  background: var(--focused);
}

.slider-group:hover .slider::-ms-slider-runnable-track {
  background: var(--focused);
}

.disabled {
  pointer-events: none;
}

.disabled .slider::-webkit-slider-thumb {
  background: var(--disabled);
}

.disabled .slider::-moz-slider-thumb {
  background: var(--disabled);
}

.disabled .slider::-ms-slider-thumb {
  background: var(--disabled);
}

.disabled .slider::-webkit-slider-runnable-track {
  background: var(--disabled);
}

.disabled .slider::-moz-slider-runnable-track {
  background: var(--disabled);
}

.disabled .slider::-ms-slider-runnable-track {
  background: var(--disabled);
}

*:disabled {
  pointer-events: none;
  color: var(--disabled);
}

.slider {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  margin: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--unfocused);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: -4px;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  cursor: pointer;
}

.slider::-moz-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--unfocused);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  cursor: pointer;
}

.slider::-ms-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--unfocused);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  cursor: pointer;
}

.slider::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--unfocused);
  border-radius: 1px;
  margin-top: 2px;
}

.slider::-moz-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--unfocused);
  border-radius: 1px;
  margin-top: 2px;
}

.slider::-ms-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--unfocused);
  border-radius: 1px;
  margin-top: 2px;
}

.slider:focus {
  outline: none;
}

.slider-value,
.slider-label {
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider-label {
  font-size: 0.65rem;
  margin: 0;
}

.slider-value {
  margin: 0.5rem 0;
  font-size: 0.5rem;
}

.reverse-slider {
  direction: rtl;
}

.algo-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.algo-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.algo-btn {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  background: none;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--unfocused);
  font-weight: 300;
  font-size: 0.65rem;
  letter-spacing: 0px;
}

.algo-btn:hover {
  cursor: pointer;
  color: var(--focused);
}

.algo-btn:focus {
  outline: none !important;
}

@-webkit-keyframes color-change {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 4800%;
  }
}

@keyframes color-change {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 4800%;
  }
}

@media screen and (min-width: 992px) {
  .gen-btn-container {
    padding: 0 15px;
  }
  .gen-btn {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    border-width: 4px;
  }
  .slider-group:hover .slider-label {
    letter-spacing: 2px;
  }
  .slider-label {
    font-size: 1rem;
  }
  .slider-value {
    font-size: 0.75rem;
  }
  .algo-btn {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .algo-btn:hover {
    letter-spacing: 2px;
  }
}
/*# sourceMappingURL=barsoptions.css.map */