.gradient-selector-container {
	position: relative;
}

.gradient-selector-btn {
	border-radius: 20px;
	background: transparent;
	width: 100%;
	height: 74.8px;
	padding: 5px;
	border: var(--unfocused) 1px solid;
	text-transform: uppercase;
	color: var(--unfocused);
	transition: all 0.3s ease;

	h3 {
		font-size: 1rem;
		margin-bottom: 0;
		margin-top: 10px;
	}
	h4 {
		font-size: 0.75rem;
	}
}

.gradient-selector-wrapper:hover .gradient-selector-btn {
	border-color: var(--focused);
	color: var(--focused);
	letter-spacing: 2px;
}

.gradient-selector-wrapper:hover .gradient-dropdown-list {
	border-color: var(--focused);
}

.gradient-selector-btn:hover {
	border-color: var(--focused);
	color: var(--focused);
	letter-spacing: 2px;
}

.gradient-selector-btn:hover ~ .gradient-dropdown-list {
	border-color: var(--focused);
	border-top: 0px;
}

.gradient-selector-btn:focus {
	outline: none;
}

.gradient-selector-btn:disabled {
	border-color: var(--disabled);
}

.gradient-dropdown-list {
	width: 100%;
	height: auto;
	position: absolute;
	display: none;
	transition: all 0.3s ease;
	border: var(--unfocused) 1px solid;
	border-top: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 7;
	padding-bottom: 20px;
}

.fadeIn {
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		transform: translateY(0px);
		opacity: 1;
	}
	to {
		transform: translateY(-10px);
		opacity: 0;
	}
}

.show {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.show.gradient-dropdown-list {
	transform: translateY(0px);
	opacity: 1;
}

.dropIsShown {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 0px;
}

.gradient-dropdown-option {
	flex-basis: 45%;
	input {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;
	}
	label {
		width: 140px;
		border-radius: 10px;
		border: solid 1px var(--unfocused);
		text-transform: uppercase;
		text-align: center;
		line-height: 3;
		transition: all 0.3s ease-in-out;
		font-size: 0.85rem;
		box-sizing: border-box;
	}
	label:hover {
		border: solid 1px var(--focused);
		box-shadow: 0px 0px 0px 1px var(--focused);
		color: var(--focused);
		letter-spacing: 2px;
		cursor: pointer;
	}
	input:checked ~ label {
		font-weight: 700;
		border: solid 1px var(--focused);
		box-shadow: 0px 0px 0px 1px var(--focused);
		color: var(--focused);
	}
}
