.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: var(--unfocused);
	font-size: 0.45rem;
	font-family: "Open Sans Condensed", sans-serif;
	transition: all 0.3s ease;
	&:hover {
		color: var(--focused);
		.link {
			color: var(--focused);
		}
	}
}

.link {
	color: var(--unfocused);
	transition: all 0.3s ease;
}
